# Configuración del Servidor Express
PORT=5000
NODE_ENV=development

# Clave Secreta para Tokens JWT
JWT_SECRET=super_secret_key_cafe_don_beto_2026_jwt_token_auth

# Configuración de Base de Datos MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=1945RichSS!
DB_NAME=cafe_don_beto_db

# Frontend Origin para CORS
FRONTEND_URL=http://localhost:3000
